<li>
<div class="col s12 m5">
    <div class="card teal">
        <div class="card-image">
            <%= image_tag video.url, class: 'responsive-img', style: 'height: 350px' %>
        </div>
        <div class="card-content white-text">
            <p><%= video.location  %></p>
        </div>
    </div>
</div>
</li>
