<div class="row">
    <ul>
        <%= render partial: 'video', collection: current_user.video_feeds %>
    </ul>
    <ul>
        <%= render partial: 'feeder', collection: current_user.pet_feeders  %>
    </ul>
</div>
