<div class="parallax-container valign-wrapper">
    <div class="col s12 m6 l3", style="margin-left: 3%">
        <%= image_tag 'logo_large.png', style: "height: 150px;" %>
        <%= link_to "Login or signup with twitter", login_path, class: "waves-effect waves-light btn-large valign" %>
    </div>
    <div class="parallax"><%= image_tag 'welcome_bg.jpg' %></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">Information</h2>
        <p class="grey-text text-darken-3 lighten-3">Something goes here</p>
    </div>
</div>
